<form class="form-signin" autocomplete="off">

  <%= image_tag "logo.jpg", class: "mb-4 img-logo", alt: "Veloz Cred" %>

  <label for="inputEmail" class="sr-only">Senha atual</label>
  <input type="password" class="form-control" autocomplete="off" placeholder="Senha atual" required="required" autofocus="">
  <label for="inputPassword" class="sr-only">Nova senha</label>
  <input type="password" class="form-control" autocomplete="off" placeholder="Nova senha" required="required" id="novaSenha" data-trigger="focus" data-toggle="popover" data-placement="right" data-content="Sua nova senha deve ter no mínimo 8 caracteres e deve ser diferente do seu CPF e Chave J." autocomplete="false">
  <label for="inputPassword" class="sr-only">Repetir nova senha</label>
  <input type="password" class="form-control" autocomplete="off" placeholder="Repetir nova senha" required="required">
  <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 1rem; background-color: #0000ff; border-color: #0000ff;">Continuar</button>

  <%= link_to "Sair", destroy_agent_session_path, method: :delete %>
  <%=  %>

</form>
