/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require dataTables/jquery.dataTables
 *= require dataTables/extras/dataTables.responsive
 *= require_self
 */

@import "bootstrap";

html, body {
  height: 100%;
  background-color: #f5f5f5;
}

label {
  display: block;
}

header {
  width: 100%;
  height: 50px;
}

header a {
  display: inline-block;
  float: right;
  padding: 10px;
  margin-right: 3%;
  z-index: 99;
}

h3 {
  text-align: center;
  padding: 15px;
}

div .dataTables_length label, div .dataTables_length select {
  display: none;
}

div .dataTables_wrapper .dataTables_paginate {
  float: none;
  text-align: left;
}

div .dataTables_paginate a {
  font-size: .9rem;
}

.wrapper_col {
  width: 15px !important;
}

#bt_total {
    width: 10vw;
    max-width: 180px;
}

#bt_diaria {
  margin-right: 10px;
}

@media (max-width: 770px) {
  #bt_total {
      width: 100px;
      margin-top: 25px !important;
  }
}

.btn-primary {
  background-color: #0000ff;
  border-color: #0000ff;
}
.btn-primary:hover {
    background-color: #0000dd !important;
}
